.myfav-craft-import-assign-verein {
    .sw-card.myfav-craft-import-main-card,
    .sw-card.myfav-craft-import-detail-card {
        max-width: 98%;
    }
}

.myfav-craft-import-general-error-msg {
    border-color: 1px dashed #C44;
    color: #C33;
    padding: 6px 12px;
}