.myfav-craft-import-search-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;

    .col-search-term {
        flex-grow: 1;
        margin-right: 6px;
    }

    .col-search {
        display: flex;
        flex-direction: row;

        button {
            align-self: flex-end;
        }
    }

    .sw-field {
        margin-bottom: 0;
    }
}

.myfav-craft-import-search-result-container {
    display: block;
    width: 100%;

    .myfav-craft-import-search-container-results {
        display: block;
        width: 100%;

        .myfav-craft-search-result {
            width: 100%;

            tr:nth-child(even) {
                background-color: #f0f2f5;
            }

            tr:hover,
            tr:nth-child(even):hover {
                background-color: #e3f3ff;
                cursor: pointer;
            }

            td {
                padding-left: 3px;
                padding-right: 3px;
            }
        }
    }

    .myfav-craft-search-result-image {
        max-height: 60px;
        width: auto;
    }

    .myfav-craft-import-variation-count {
        color: #777;
        display: block;
        font-size: 0.75rem;

    }
}

.myfav-craft-import-article-selector-table {
    width: 100%;

    thead th {
        background-color: #02375f;
        color: #FFF;
    }

    tr:nth-child(even) {
        background-color: #f0f2f5;
    }

    tr:hover,
    tr:nth-child(even):hover {
        background-color: #e3f3ff;
        cursor: pointer;
    }

    td, th {
        padding: 3px 6px;
        text-align: left;
    }

    .myfav-craft-import-article-col-override-title {
        .myfav-cut-title {
            display: inline-block;
            max-width: 4rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .myfav-craft-import-article-col-override {
        overflow: hidden;
        text-align: center;
        width: 6%;

        .sw-field--switch {
            display: inline-block;
            margin: 12px auto auto!important;
            width: auto;
        }
    }

    .myfav-craft-import-article-col-custom-value,
    .myfav-craft-import-article-col-original-value {
        width: 40%;
    }

    .sw-field {
        margin-bottom: 0;
    }

    .sw-category-tree-field {
        input {
            margin-left: -8px;
            margin-right: -8px;
            margin-top: 0;
            width: calc(100% + 16px);
        }

        .sw-category-tree-field__selected-label+input,
        .sw-category-tree-field__label-more+input {
            margin-top: 8px;
        }
    }

    .myfav-craft-ul-li-list {
        list-style-position: inside;
    }

    .myfav-craft-warning-text {
        color: #FFA700;
        font-weight: bold;
    }
}

.myfav-craft-import-article-selector {
    .sw-field--switch {
        margin: 0;
    }
}

.myfav-craft-variation-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.myfav-craft-variation {
    background-color: #f0f2f5;
    margin-top: 12px;
    padding: 5px 10px;

    .myfav-craft-variation-skus {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: flex-start;

        .myfav-craft-variation-sku {
            background-color: #FFF;
            border: 1px solid #CCC;
            cursor: pointer;
            flex: 0 1 calc(25% - 10px); /* 25% der Breite minus Abstand */
            padding: 5px 10px;
            width: 25%;
        }

        .myfav-craft-variation-sku:hover {
            background-color: #e3f3ff;
        }
    }
}

.myfav-craft-import-product-number-length-info {
    color: red;
}

.myfav-craft-import-active-action-link {
    color: #189EFF;
    text-decoration: underline;
}

.myfav-craft-import-prices-unequal input {
    background-color: rgb(246, 244, 112);
}

.myfav-craft-import-variant-section {
    border-top: 1px solid #CCC;
    padding-top: 12px;
    margin-top: 12px;

    .sw-field--switch {
        margin-bottom: 0;
        margin-top: 0;
    }
}

.myfav-craft-import-article-container {
    position: relative;
}


.myfav-craft-import-article-modal {
    .sw-modal__close {
        display: none;
    }
}

.myfav-craft-import-modal-save-overlay {
    background-color: rgba(0, 0, 0, .8);
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.myfav-craft-import-article-modal.is-saving-article {
    .sw-modal__body {
        overflow-y: hidden!important;
    }

    .myfav-craft-import-modal-save-overlay {
        display: block;
    }
}

.myfav-craft-import-saving-status {
    position: absolute;
    top: 110%;
    width :100%;
    z-index: 10001;

    .myfav-craft-import-saving-status-content {
        background-color: #FFF;
        border: 1px solid #CCC;
        padding: 6px 12px;
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
    }
}

.myfav-craft-variation-title {
    display: flex;

    .sw-field--switch {
        margin-left: 24px;
        margin-top: 0!important;
        margin-bottom: 0!important;
    }

    label {
        font-weight: normal;
    }
}

.myfav-craft-import-search-result-container {
    .sw-data-grid.sw-data-grid--full-page {
        position: relative;
    }

    .sw-data-grid__cell--craftProductNumber {
        a {
            color: #189eff;
        }
    }
}