<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Craft API Credentials</title>
        <title lang="de-DE">Craft API Zugangsdaten</title>

        <input-field type="text">
            <name>craftApiUrl</name>
            <label>Craft-API URL</label>
            <label lang="de-DE">Craft-API URL</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="text">
            <name>craftApiToken</name>
            <label>Craft-API Token</label>
            <label lang="de-DE">Craft-API Token</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="bool">
            <name>debugMode</name>
            <label>Entwickler-Modus</label>
            <label lang="de-DE">Entwickler-Modus</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-entity-single-select">
            <name>defaultTaxId</name>
            <entity>tax</entity>
            <label>Default Tax-Rate</label>
            <label lang="de-DE">Standard-Steuersatz</label>
        </component>

        <!-- productFabrics -->
        <input-field type="text">
            <name>productCustomFieldForFabrics</name>
            <label>Technical Name of Custom Field for Fabrics-Information</label>
            <label lang="de-DE">Technischer-Name des Zusatzfeldes für Materialzusammensetzung</label>
            <defaultValue>custom_material_field</defaultValue>
            <helpText>May be required because of legal conditions. Is only saved, if a custom field is defined here. API-Field: productFabrics</helpText>
            <helpText lang="de-DE">Wird aus rechtlichen Gründen ggf. benötigt. Wird nur übernommen, wenn hier ein Wert definiert ist. API-Feld: productFabrics</helpText>
        </input-field>

        <!-- productFeatures to Shopware property Mapping -->
        <component name="sw-entity-single-select">
            <name>productFeaturePropertyId</name>
            <entity>property_group</entity>
            <label>Property-Group from the shopware store, that Product-Features should be added to</label>
            <label lang="de-DE">Eigenschafts-Gruppe des Shops, der Product-Features zugeordnet werden sollen</label>
            <defaultValue></defaultValue>
            <helpText>If nothing is selected, properties are not synced at all. The Craft-API only offers Options without groups. For example, it is conceivable to transfer it to a property group "Special Features".</helpText>
            <helpText lang="de-DE">Wenn hier nichts ausgewählt ist, werden die Features nicht übernommen. Die Craft-API gibt einfach nur Optionen ohne Gruppen-Namen an. Denkbar ist bspw. eine Übernahme in eine Eigenschafts-Gruppe "Besonderheiten".</helpText>
        </component>
    </card>
</config>