<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Craft API Credentials</title>
        <title lang="de-DE">Craft API Zugangsdaten</title>

        <input-field type="text">
            <name>craftApiUrl</name>
            <label>Craft-API URL</label>
            <label lang="de-DE">Craft-API URL</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="text">
            <name>craftApiToken</name>
            <label>Craft-API Token</label>
            <label lang="de-DE">Craft-API Token</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="bool">
            <name>debugMode</name>
            <label>Developer-Mode</label>
            <label lang="de-DE">Entwickler-Modus</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-entity-single-select">
            <name>defaultTaxId</name>
            <entity>tax</entity>
            <label>Default Tax-Rate</label>
            <label lang="de-DE">Standard-Steuersatz</label>
        </component>

        <input-field type="bool">
            <name>initiallyActivateAllVariants</name>
            <label>Initially activate all variants</label>
            <label lang="de-DE">Initial alle Varianten aktivieren</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <!-- productFabrics -->
        <input-field type="text">
            <name>productCustomFieldForFabrics</name>
            <label>Technical Name of Custom Field for Fabrics-Information</label>
            <label lang="de-DE">Technischer-Name des Zusatzfeldes für Materialzusammensetzung</label>
            <defaultValue>custom_material_field</defaultValue>
            <helpText>May be required because of legal conditions. Is only saved, if a custom field is defined here. API-Field: productFabrics</helpText>
            <helpText lang="de-DE">Wird aus rechtlichen Gründen ggf. benötigt. Wird nur übernommen, wenn hier ein Wert definiert ist. API-Feld: productFabrics</helpText>
        </input-field>

        <!-- productFeatures to Shopware property Mapping -->
        <component name="sw-entity-single-select">
            <name>productFeaturePropertyId</name>
            <entity>property_group</entity>
            <label>Property-Group from the shopware store, that Product-Features should be added to</label>
            <label lang="de-DE">Eigenschafts-Gruppe des Shops, der Product-Features zugeordnet werden sollen</label>
            <defaultValue></defaultValue>
            <helpText>If nothing is selected, properties are not synced at all. The Craft-API only offers Options without groups. For example, it is conceivable to transfer it to a property group "Special Features".</helpText>
            <helpText lang="de-DE">Wenn hier nichts ausgewählt ist, werden die Features nicht übernommen. Die Craft-API gibt einfach nur Optionen ohne Gruppen-Namen an. Denkbar ist bspw. eine Übernahme in eine Eigenschafts-Gruppe "Besonderheiten".</helpText>
        </component>

        <!-- productFit -->
        <component name="sw-entity-single-select">
            <name>productFitPropertyId</name>
            <entity>property_group</entity>
            <label>Property-Group from the shopware store, that ProductFit should be added to</label>
            <label lang="de-DE">Eigenschafts-Gruppe des Shops, der ProductFit zugeordnet werden sollen</label>
            <defaultValue></defaultValue>
            <helpText>If nothing is selected, properties are not synced at all. API-Field: productFit</helpText>
            <helpText lang="de-DE">Wird nur übernommen, wenn hier ein Wert definiert ist. API-Feld: productFit</helpText>
        </component>

        <!-- productGender -->
        <component name="sw-entity-single-select">
            <name>productGenderPropertyId</name>
            <entity>property_group</entity>
            <label>Property-Group from the shopware store, that ProductGender should be added to</label>
            <label lang="de-DE">Eigenschafts-Gruppe des Shops, der ProductGender zugeordnet werden sollen</label>
            <defaultValue></defaultValue>
            <helpText>If nothing is selected, properties are not synced at all. API-Field: productFit</helpText>
            <helpText lang="de-DE">Wird nur übernommen, wenn hier ein Wert definiert ist. API-Feld: productFit</helpText>
        </component>

        <!-- currencyId -->
        <component name="sw-entity-single-select">
            <name>currencyId</name>
            <entity>currency</entity>
            <label>Currency for imported articles.</label>
            <label lang="de-DE">Währung für importierte Artikel </label>
            <defaultValue></defaultValue>
        </component>

        <!-- taxId -->
        <component name="sw-entity-single-select">
            <name>taxId</name>
            <entity>tax</entity>
            <label>Tax Rate for imported articles.</label>
            <label lang="de-DE">Steuersatz für importierte Artikel </label>
            <defaultValue></defaultValue>
        </component>

        <!-- deliveryTimeId -->
        <component name="sw-entity-single-select">
            <name>deliveryTimeId</name>
            <entity>delivery_time</entity>
            <label>Delivery Time for imported articles.</label>
            <label lang="de-DE">Lieferzeit für importierte Artikel </label>
            <defaultValue></defaultValue>
        </component>

        <!-- cmsPageId -->
        <component name="sw-entity-single-select">
            <name>cmsPageId</name>
            <entity>cms_page</entity>
            <label>Layout (CMS-Page) for imported articles.</label>
            <label lang="de-DE">Layout (CMS-Seite) für importierte Artikel </label>
            <defaultValue></defaultValue>
        </component>

        <!-- salesChannels -->
        <component name="sw-entity-multi-id-select">
            <name>salesChannels</name>
            <entity>sales_channel</entity>
            <label>Sales-Channels for imported articles.</label>
            <label lang="de-DE">Verkaufskanäle für importierte Artikel </label>
            <defaultValue>[]</defaultValue>
        </component>

        <!-- RestockTime -->
        <input-field type="text">
            <name>restockTime</name>
            <label>Restock Time (in days)</label>
            <label lang="de-DE">Wiederauffüllzeit (in Tagen)</label>
            <defaultValue>90</defaultValue>
        </input-field>
    </card>
</config>