<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Craft API Credentials</title>
        <title lang="de-DE">Craft API Zugangsdaten</title>

        <input-field type="text">
            <name>craftApiUrl</name>
            <label>Craft-API URL</label>
            <label lang="de-DE">Craft-API URL</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="text">
            <name>craftApiToken</name>
            <label>Craft-API Token</label>
            <label lang="de-DE">Craft-API Token</label>
            <defaultValue></defaultValue>
        </input-field>

        <input-field type="bool">
            <name>debugMode</name>
            <label>Entwickler-Modus</label>
            <label lang="de-DE">Entwickler-Modus</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <component name="sw-entity-single-select">
            <name>defaultTaxId</name>
            <entity>tax</entity>
            <label>Default Tax-Rate</label>
            <label lang="de-DE">Standard-Steuersatz</label>
        </component>
    </card>
</config>